.banner {
	background: linear-gradient(-200deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 70%), url(../../images/line.jpeg);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}

.banner h1 {
	font-size: 70px;
	font-family: 'Advent Pro', sans-serif;
}

.banner h2 {
	font-size: 30px;
	font-weight: normal;
	opacity: 0.8;
	margin-bottom: 40px;
	font-family: 'Advent Pro', sans-serif;
}
